<div class="form-group">
    <h2 class="text-center">Emergency Contacts</h2>
</div>

<div class="form-group">
    <label class="">Emergency Contact #1</label>
</div>
<div class="form-group">
    <h5 for="ecName" class="control-label">Name</h5>
    <input type="text" class="form-control" id="ecName1" placeholder="Name" ng-model="formData.ecName1">
</div>
<div class="form-group">
    <h5 for="ecEmail" class="control-label">Email</h5>
    <input type="text" class="form-control" id="ecEmail1" placeholder="Email" ng-model="formData.ecEmail1">
</div>
<div class="form-group">
    <h5 for="comment" class="control-label">Comment</h5>
    <input type="text" class="form-control" id="comment1" placeholder="Extra Notes" ng-model="formData.comment1">
</div>

<div class="form-group">
    <label class="">Emergency Contact #2</label>
</div>
<div class="form-group">
    <h5 for="ecName" class="control-label">Name</h5>
    <input type="text" class="form-control" id="ecName2" placeholder="Name" ng-model="formData.ecName2">
</div>
<div class="form-group">
    <h5 for="ecEmail" class="control-label">Email</h5>
    <input type="text" class="form-control" id="ecEmail2" placeholder="Email" ng-model="formData.ecEmail2">
</div>
<div class="form-group">
    <h5 for="comment" class="control-label">Comment</h5>
    <input type="text" class="form-control" id="comment2" placeholder="Extra Notes" ng-model="formData.comment2">
</div>

<div class="form-group">
    <label class="">Emergency Contact #3</label>
</div>
<div class="form-group">
    <h5 for="ecName" class="control-label">Name</h5>
    <input type="text" class="form-control" id="ecName3" placeholder="Name" ng-model="formData.ecName3">
</div>
<div class="form-group">
    <h5 for="ecEmail" class="control-label">Email</h5>
    <input type="text" class="form-control" id="ecEmail3" placeholder="Email" ng-model="formData.ecEmail3">
</div>
<div class="form-group">
    <h5 for="comment" class="control-label">Comment</h5>
    <input type="text" class="form-control" id="comment3" placeholder="Extra Notes" ng-model="formData.comment3">
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.review" class="btn btn-block btn-success">Next Section
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
